*{
    margin-bottom: 60px;
    text-decoration: underline;
}
h1{
    background-color: yellow;
    color: mediumpurple;
}
h2{
    background-color: blue;
    font-size: 88px;
    border: 10px ;
    text-decoration: underline;
}
#h11stTag{
    border: 5px dashed green;
}
.imp{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
}
.randomElem{
    color: #ea7b7b;
}
h1{
    background-color: aqua;
}

h1, h2, h3, h4, h5, h6, .randomElem, #h11stTag{
    text-transform: capitalize;
}